body {
  background-color: #080808; /* Slightly updated dark background */
}

.dataPanel, #logPanel {
  border: 1px solid #444444; /* Maintain a dark border */
  background-color: #121212; /* Dark background */
}

.sectionTitle {
  color: #4CAF50; /* Bright green for a techy, futuristic feel */
}

.dataText {
  color: #f8f9fa; /* Soft white for readability */
}

#plot, .dataPanel, #logPanel, #messageInput {
  border: 1px solid #0056b3; /* Bright blue border for a futuristic touch */
}

#plot {
  height: 500px; /* Adjust height as needed */
  width: auto; /* Ensure it scales properly */
  margin: auto; /* Center the plot if smaller than the container */
}
#plot:focus, #plot :focus {
    outline: none;
    border: 1px solid #f8f9fa; /* Example: Adding a subtle border instead */
}



#messageInput {
  border-color: #0056b3; /* Ensure input field matches theme */
  background-color: #000; /* Dark background for input */
  color: #fff; /* White text color for contrast */
}
