body {
    background-color: #080808; /* Dark background */
    color: #ffffff; /* White text */
    font-family: Arial, sans-serif; /* Font style */
  }
  
  #plot {
    width: calc(33.33% - 20px); /* One-third of the page width minus 20px for margin */
    margin-bottom: 20px; /* Add space below the plot */
    border: 1px solid #444444; /* Dark border */
    background-color: #00101f; /* Dark blue background for plot (spacey theme) */
  }
  
  #logPanel {
    width: calc(66.66% - 20px); /* Two-thirds of the page width minus 20px for margin */
    height: 200px;
    overflow-y: auto;
    border: 1px solid #444444; /* Dark border */
    padding: 10px;
    background-color: #121212; /* Dark background for log panel */
  }
  
  #log {
    font-size: 14px; /* Font size for logs */
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #444444; /* Dark border for input field */
    background-color: #121212; /* Dark background for input field */
    color: #ffffff; /* White text */
    font-family: Arial, sans-serif; /* Font style */
  }
  
  input[type="text"]:focus {
    outline: none; /* Remove focus outline */
    border-color: #0066cc; /* Accent color for focus state */
  }
  