<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mission Control Dashboard</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/styles.css') }}">
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
<div class="container-fluid p-5">
    <h1 class="text-center mb-5 text-light">Mission Control Dashboard</h1>
    <div class="row">
        <div class="col-lg-8 mb-4">
            <div id="plot" class="bg-dark rounded-lg"></div>
        </div>
        <div class="col-lg-4">
            <div class="dataPanel bg-dark text-light p-3 rounded-lg">
                <h2 class="sectionTitle">TLE</h2>
                <p class="dataText">Line 1 of TLE</p>
                <p class="dataText">Line 2 of TLE</p>
                <h2 class="sectionTitle">IMU Data</h2>
                <p class="dataText">IMU Data Line</p>
            </div>
        </div>
    </div>
    <div id="logPanel" class="bg-dark text-light p-3 rounded-lg mt-4">
        <h2 class="sectionTitle">Log Panel</h2>
        <div id="log" class="overflow-auto" style="max-height: 200px;"></div>
    </div>
    <form action="/alert" method="post">
        <input type="text" name="call_body" placeholder="Alert Message">
        <input type="text" name="call_num" placeholder="Phone Number">
        <input type="submit" value="Send alert">
    </form>
</div>
<script>
// Data for the line plot
const data = [
  { x: [1, 2, 3, 4, 5], y: [10, 15, 13, 17, 10], type: 'scatter', mode: 'lines', name: 'Line 1' },
  { x: [1, 2, 3, 4, 5], y: [16, 5, 11, 9, 15], type: 'scatter', mode: 'lines', name: 'Line 2' }
];

// Layout for the line plot
const layout = {
  title: '2-Axis Line Plot',
  xaxis: { title: 'X-axis' },
  yaxis: { title: 'Y-axis' }
};

// Create the line plot
Plotly.newPlot('plot', data, layout);

// Function to log the current time and message
function logTime(message) {
  const now = new Date();
  const timeString = now.toLocaleTimeString();
  const logElement = document.getElementById('log');
  if (logElement.innerHTML !== '') {
    logElement.innerHTML += '<br>';
  }
  logElement.innerHTML += `${timeString}: ${message}`;
}

// Log the time every 5 seconds
setInterval(function() {
  const now = new Date();
  const timeString = now.toLocaleTimeString();
  logTime(`Automatic log at ${timeString}`);
}, 5000);

// Log the time when a message is entered
document.getElementById('messageInput').addEventListener('keyup', function(event) {
  if (event.key === 'Enter') {
    const message = this.value.trim();
    if (message !== '') {
      logTime(message);
      this.value = ''; // Clear the input field
    }
  }
});
</script>
</body>
</html>
