<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mission Control Dashboard</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/styles.css') }}">
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
<div class="container-fluid p-5">
    <h1 class="text-center mb-5 text-light">Mission Control Dashboard</h1>
    <div class="errorBox">{{ message }}</div>
    <div class="row">
        <div class="col-lg-8 mb-4">
            <div id="plot" class="bg-dark rounded-lg"></div>
        </div>
        <div class="col-lg-4">
            <div class="dataPanel bg-dark text-light p-3 rounded-lg">
                <h2 class="sectionTitle">Last Telemetry</h2>
                <p class="dataText">SAPLING GIGANTEUM <br>
                  1 56213U 23054AM  24016.71252701  .00043431  00000+0  12174-2 0  9990 <br>
                  2 56213  97.3775 275.5254 0010323 340.6320  19.4530 15.36418809 42838</p>
                <h2 class="sectionTitle">IMU Data</h2>
                <p class="dataText">-1.76,-0.45,-2.05<br>-1.82,-0.19,-1.99<br>-1.76,-0.27,-2.02<br>-1.69,-0.30,-2.14<br></p>
            </div>
        </div>
    </div>
    <div id="logPanel" class="bg-dark text-light p-3 rounded-lg mt-4">
        <h2 class="sectionTitle">Log Updates Panel</h2>
        <div id="log" class="overflow-auto" style="max-height: 200px;"></div>
    </div>
    <form action="/alert" method="post">
        <input type="text" name="call_body" placeholder="Alert Message">
        <input type="text" name="call_num" placeholder="Phone Number">
        <input type="submit" value="Send alert">
    </form>
    <form action="/error" method="post">
      <input type="submit" value="Error sim">
  </form>
</div>
<script>
// Data for the line plot
const data = [
  {
    x: [1, 2, 3, 4, 5],
    y: [16, 15.5, 15, 15.5, 16],
    type: 'scatter',
    mode: 'lines+markers', // Add markers to the line
    name: 'Battery 1',
    line: { color: '#17BECF', width: 3 }, // Customize line color and width
    marker: { size: 8 } // Customize marker size
  },
  {
    x: [1, 2, 3, 4, 5],
    y: [16, 13, 11, 3, 0.5],
    type: 'scatter',
    mode: 'lines+markers', // Add markers to the line
    name: 'Battery 2',
    line: { color: '#7F7F7F', width: 3, dash: 'dot' }, // Dash type line
    marker: { size: 8 } // Customize marker size
  }
];

const layout = {
  title: 'Battery Voltage',
  xaxis: { title: 'Seconds' },
  yaxis: { title: 'Volts' },
  plot_bgcolor: "#080808", // Match the dashboard theme
  paper_bgcolor: "#080808",
  font: {
    color: "#f8f9fa" // Text color for readability
  },
  grid: { roworder: 'bottom to top' }
};


// Create the line plot
Plotly.newPlot('plot', data, layout);

// Function to log the current time and message
function logTime(message) {
  const now = new Date();
  const timeString = now.toLocaleTimeString();
  const logElement = document.getElementById('log');
  if (logElement.innerHTML !== '') {
    logElement.innerHTML += '<br>';
  }
  logElement.innerHTML += `${timeString}: ${message}`;
}

// Log the time every 5 seconds
setInterval(function() {
  const now = new Date();
  const timeString = now.toLocaleTimeString();
  logTime(`Automatic log at ${timeString}`);
}, 5000);

// Log the time when a message is entered
document.getElementById('messageInput').addEventListener('keyup', function(event) {
  if (event.key === 'Enter') {
    const message = this.value.trim();
    if (message !== '') {
      logTime(message);
      this.value = ''; // Clear the input field
    }
  }
});
</script>
</body>
</html>
